<nav class="fixed top-0 left-0 z-20 w-full bg-white border-b border-gray-200 dark:bg-gray-900 dark:border-gray-600">

  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
  <a href="{{ path('app_home') }}" class="flex items-center">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.freebiesupply.com%2Flogos%2Fthumbs%2F2x%2Fsymfony-logo.png&f=1&nofb=1&ipt=e4d020abfde2fc986864d87570ed71dfacc5f799aed50809115c94bd34dcfe46&ipo=images" class="h-8 mr-3" alt="Flowbite Logo">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Symfony News</span>
  </a>
  <div class="flex md:order-2">
       {% if app.user %}
        {# <div class="flex items-center mx-2 space-x-4">
            <img class="w-10 h-10 rounded" src="https://i.pravatar.cc/150?u={{ app.user.id }}" alt="">
            <div class="font-medium dark:text-white">
                <div>{{ app.user.email }}</div>
                
            </div>
        </div>
        <a href="{{ path('app_post_create') }}" class="px-4 py-2 mx-4 text-sm font-medium text-center text-white bg-orange-300 rounded-lg hover:bg-orange-200 focus:ring-4 focus:outline-none focus:ring-blue-300 md:mr-0 ">Add post</a>
        <a href="{{ path('app_logout') }}" class="px-4 py-2 mx-3 text-sm font-medium text-center text-white bg-orange-400 rounded-lg hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 md:mr-0 ">Déconnexion</a> #}
        <a href="{{ path('app_post_create') }}" class="px-4 py-2 mx-8 text-sm font-medium text-center text-white bg-orange-400 rounded-lg hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 ">Add post</a>
        {% include "partials/avatar.html.twig" %}
      {% else %}
        <a href="{{ path('app_login') }}" class="px-4 py-2 mr-3 text-sm font-medium text-center text-white bg-orange-400 rounded-lg hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 md:mr-0 ">Connexion</a>
      {% endif %}
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      {{render(controller('App\\Controller\\TagController::getTags'))}}
  </div>
  </div>
</nav>



