{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <main class="max-w-6xl mx-auto space-y-6 text-white ">
        <article class="max-w-4xl mx-auto lg:grid lg:grid-cols-12 gap-x-10">
            <div class="col-span-4 mb-10 lg:text-center lg:pt-14">
                <img src="{{ asset('images/posts/' ~ post.image)}}" alt="Image" class="rounded">

                {# <p class="block mt-4 text-xs text-gray-400">
                    Published <time>{{ post.createdAt }}</time>
                </p> #}

                <div class="flex items-center mt-4 text-sm lg:justify-center">
                    <img src="https://i.pravatar.cc/150?u={{ post.author.id }}" class="w-10 h-10 rounded" alt="Lary avatar">
                    <div class="ml-3 text-left">
                        <a href="{{ path('app_post_author', { id: post.author.id }) }}">
                            <h5 class="font-bold">{{ post.author.name }}</h5>
                        </a>
                    </div>
                        <p class="block ml-4 text-xs text-gray-400">
                             Published <time>{{ post.createdAt|format_datetime('short', 'none', locale='fr')  }}</time>
                        </p>
                </div>
            </div>

            <div class="col-span-8">
                <div class="justify-between hidden mb-6 lg:flex">
                    <a href="/home"
                        class="relative inline-flex items-center text-lg text-orange-400 transition-colors duration-300 hover:underline">
                        <svg width="22" height="22" viewBox="0 0 22 22" class="mr-2">
                            <g fill="none" fill-rule="evenodd">
                                <path stroke="#000" stroke-opacity=".012" stroke-width=".5" d="M21 1v20.16H.84V1z">
                                </path>
                                <path class="fill-current"
                                    d="M13.854 7.224l-3.847 3.856 3.847 3.856-1.184 1.184-5.04-5.04 5.04-5.04z">
                                </path>
                            </g>
                        </svg>

                        Back to Posts
                    </a>

                    <div class="space-x-2">
                        <x-category-button :category="$post->category" />
                    </div>
                </div>

                <h1 class="mb-10 text-3xl font-bold lg:text-4xl">
                    {{ post.title }}
                </h1>

                <div class="space-y-4 leading-loose lg:text-lg">
                    {{ post.content }}
                </div>
            </div>

        </article>
        <section class="py-8 bg-white dark:bg-gray-900 lg:py-16">
  <div class="max-w-2xl px-4 mx-auto">
    {% if app.user %}
      <div class="flex items-center justify-between mb-6">
        <h2 class="text-lg font-bold text-gray-900 lg:text-2xl dark:text-white">Let us know what you think </h2>
    </div>
    <form method="POST" action={{ path('app_comment_create',{slug:post.slug})}} class="mb-6">
        <div class="px-4 py-2 mb-4 bg-white border border-gray-200 rounded-lg rounded-t-lg dark:bg-gray-800 dark:border-gray-700">
            <label for="comment" class="sr-only">Your comment</label>
            <textarea id="comment" name="comment" rows="6"
                class="w-full px-0 text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                placeholder="Write a comment..." required></textarea>
        </div>
        <button type="submit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-orange-400 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-orange-300">
            Post comment
        </button>
    </form>
    {% else %}
    <div class="px-4 py-2 mb-4 rounded-lg rounded-t-lg ">
        <p class="text-sm text-gray-500 dark:text-gray-400">
                      You should be connect to comment a post ? <a href="{{path('app_login')}}" class="font-medium text-orange-400 hover:underline dark:text-primary-500">Sign in</a>
                  </p>
    </div>
    {% endif %}
    {% for comment in post.comments|sort((a,b)=> a.createdAt > b.createdAt) %}
    <article class="w-full p-6 px-6 mb-6 text-sm text-base bg-white border-0 rounded-lg focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800">
        <footer class="flex items-center justify-between mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"><img
                        class="w-6 h-6 mr-2 rounded-full"
                        src="https://i.pravatar.cc/150?u={{ comment.user.id }}"
                        alt="Michael Gough">{{comment.user.name}}</p>
                <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                        title="February 8th, 2022">{{comment.createdAt|format_datetime('full', 'none', locale='fr')}}</time></p>
            </div>
            {# <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button">
                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                    </path>
                </svg>
                <span class="sr-only">Comment settings</span>
            </button> #}
            <!-- Dropdown menu -->
            <div id="dropdownComment1"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-36 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownMenuIconHorizontalButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                    </li>
                </ul>
            </div>
        </footer>
        <p class="text-gray-500 dark:text-gray-400">{{comment.content}}</p>
        {# <div class="flex items-center mt-4 space-x-4">
            <button type="button"
                class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                <svg aria-hidden="true" class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                Reply
            </button>
        </div> #}
    </article>
    {% endfor %}
  </div>
</section>
    </main>
{% endblock %}